body {
  font-family: "Josefin Sans", "Noto Sans JP", sans-serif;
}
/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(241, 238, 228, 0.25);
  width: 100%;
  text-align: center;
  padding: 12px;
}

.header-nav {
  margin-top: 10px;
}

.header-nav-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.header-nav-link {
  color: #fff;
}


/* fv */

/* common */
.inner {
  padding: 0 40px;
}

.section-heading {
  text-align: center;
  margin-bottom: 40px;
}

.section-heading-l {
  color: #fff;
}

.section-heading-main {
  display: block;
  font-size: 40px;
}

.section-heading-sub {
  display: block;
  font-size: 12px;
}

/* about */
.about {
  padding: 40px 0;
  background-color: #f1eee4;
}

.about-img img {
  width: 300px;
}
.about-text-contents {
  margin-top: 20px;
}
.about-text {
  font-size: 14px;
  line-height: 2;
}

.about-text + .about-text {
  margin-top: 16px;
}

/* menu */
.menu {
  background-color: #f1eee4;
  padding: 80px 0;
}

.menu-contents {
  text-align: center;
}

.menu-contents-item + .menu-contents-item {
  margin-top: 62px;
}

.menu-img {
  text-align: center;
  margin-bottom: 20px;
}

.menu-text {
  font-size: 18px;
  margin-bottom: 10px;
}

.menu-text-en {
  color: #a98c5f;
  font-size: 12px;
}

.menu-hassh {
  color: #a98c5f;
  font-size: 14px;
  margin-top: 16px;
}

.shop {
  padding: 80px 0;
  background-image: url(../img/sp/bg-shop.png);
  background-position: center center;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.shop-inner{
    padding: 0 40px;
}
.shop-text {
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 2;
}

.form {
  margin-top: 40px;
}

.email {
  width: 100%;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 14px;
}

.button {
  color: #fff;
  background-color: #a98c5f;
  width: 120px;
  padding: 14px;
  border-radius: 4px;
  margin-top: 10px;
  border: none;
}

.footer {
  background-color: #3c301e;
  color: #fff;
}

.footer-logo {
  margin-top: 20px;
}

.footer-logo p {
  font-size: 12px;
}

.footer-link img {
  width: 60px;
  margin-bottom: 10px;
}

.footer-link p {
  font-size: 10px;
}

.footer-inner {
  padding: 10px 40px;
  text-align: center;
}

.footer-lists {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 40px 30px;
}

.footer-text {
  border-top: #fff solid;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

/* タブレット、PCサイズの表示 */
@media screen and (min-width: 768px) {
  body {
    letter-spacing: 0.05em;
    color: #3c301e;
  }

  .header{
    padding: 16px;
  }

  .header-inner{
    max-width: 1080px;
    padding: 0 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .header-nav-list{
    gap: 40px;
  }

  .header-nav-link{
    transition: opacity 0.3s;
  }

  .header-nav-link:hover{
    opacity: 0.7;
  }

  .section-heading-main{
    font-size: 64px;
  }

  .about{
    padding-top: 80px;
  }
  .about-contents{
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  .about-contents img{
    width: 300px;
  }

  .menu-contents-list{
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .menu-contents-item + .menu-contents-item {
    margin-top: 0px;
  }

  .menu-img{
    width: 300px;
  }

  .form{
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .shop-inner{
    margin: 0 auto;
    max-width: 600px;
  }

  .inner{
    max-width: 1080px;
    padding: 0 40px;
    margin: 0 auto;
  }
}
